.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #E0E0E0;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo,
.logoText{
    display: none;
}
.loginButton{
    background-color:transparent;
    color: #9B9FAA;
    border: none;
    padding: 5px 0px 5px 15px;
    border:none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    font-family: verdana;
    text-transform:uppercase ;
}
.userName{
    color: #9B9FAA;
    padding: 5px 0px 5px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: Verdana;
}
.logo,
.logoText,
.logoMobile{
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .container{
        padding: 17px 36px;
    }
  
     
    .logoText{
        display: block;
    }
    .logoContainer{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 1024px){

    .container{
        width: 40%;
        border: none;
        justify-content: revert-layer;
        gap: 20px;
        margin-top:80px;
        align-items: center;
    }
    .nav{
        border-left:  2px solid #e0e0e09a;
        margin-top: 45px;
        height:32px ;

    }
    .logo{
        display: block;
    }

    .logoContainer{
        display:none;
    }
    
}
/* to change the color */
.active {
    color: black; 
    font-weight: bold;
  }